{% extends "::base.html.twig" %}

{% block title %}TablelessCoreBundle:IndexController:show{% endblock %}

{% block body %}
<h1>Welcome to the IndexController:show page</h1>
{{ dump(post) }}
{% endblock %}
